[submodule "cmake/modules"]
	path = cmake/modules
	url = ssh://git@10.0.254.1:822/unitestsaratovllc/cmakemodules.git
[submodule "iface/DevTalk"]
	path = iface/DevTalk
	url = ssh://git@10.0.254.1:822/unitestsaratovllc/devtalkinterface.git
[submodule "iface/DevTalkCAND"]
	path = iface/DevTalkCAND
	url = ssh://git@10.0.254.1:822/unitestsaratovllc/devtalkcandinterface.git
[submodule "libs/DevTalk"]
	path = libs/DevTalk
	url = ssh://git@10.0.254.1:822/unitestsaratovllc/devtalkunified.git
[submodule "libs/DevTalkCAND"]
	path = libs/DevTalkCAND
	url = ssh://git@10.0.254.1:822/unitestsaratovllc/devtalkcand.git
[submodule "libs/DevTalkTSD"]
	path = libs/DevTalkTSD
	url = ssh://git@10.0.254.1:822/unitestsaratovllc/devtalktsd.git
[submodule "libs/UCL"]
	path = libs/UCL
	url = ssh://git@10.0.254.1:822/unitestsaratovllc/unitestcommonlibrary.git
